<!-- footer -->
			<footer class="ct-footer">
			<div class="container">
			  <form name="contentForm" enctype="multipart/form-data" method="post" action="">
			      <div class="ct-footer-pre text-center-lg">
			          <div class="inner">
			              <span>Join Lulukeia Gallery to receive suggestions, news &amp; events!</span>
			          </div>
			          <div class="inner">
			              <div class="form-group">
			                  <input name="formfields[nl_email]" id="nl_email"
												class="validate[required]" placeholder="Enter your email address" type="text" value=""> <label for="nl_email"
												class="sr-only"></label> <button type="submit" class="btn btn-motive">Join</button>
			              </div>
			          </div>
			      </div>
			  </form>
			  <ul class="ct-footer-list text-center-sm">
			      <li>
			          <h2 class="ct-footer-list-header">
			              About
			          </h2>
			          <ul>
			              <li>
			                  <a href="">The Museum</a>
			              </li>
			              <li>
			                  <a href="">Our Friends</a>
			              </li>
			              <li>
			                  <a href="">News</a>
			              </li>
			          </ul>
			      </li>
			      <li>
			          <h2 class="ct-footer-list-header">
			              Inside the Gallery
			          </h2>
			          <ul>
			              <li>
			                  <a href="">Art</a>
			              </li>
			              <li>
			                  <a href="">Must see</a>
			              </li>
			              <li>
			                  <a href="">Book your tickets</a>
			              </li>

			          </ul>
			      </li>
			      <li>
			          <h2 class="ct-footer-list-header">
			              The Industry
			          </h2>
			          <ul>
			              <li>
			                  <a href="">Thought Leadership</a>
			              </li>
			              <li>
			                  <a href="">Webinars</a>
			              </li>
			              <li>
			                  <a href="">Events</a>
			              </li>
			              <li>
			                  <a href="">Sponsorships</a>
			              </li>
			              <li>
			                  <a href="">Advisors</a>
			              </li>
			              <li>
			                  <a href="">Training Program</a>
			              </li>
			              <li>
			                  <a href="">Activities &amp; Campaigns</a>
			              </li>
			          </ul>
			      </li>


			  </ul>
			  <div class="ct-footer-meta text-center-sm">

			          <div class="col-sm-6 col-md-2">
										<img copyright="cc-Background vector created by vectorpocket - www.freepik.com
										https://www.freepik.com/free-photos-vectors/background"
										src="static/main/assets/footer/museum.jpg" class="museumPic" alt="museum" />
			          </div>
			          <div class="col-sm-6 col-md-3">
			              <address>
			                  <span>Lulukeia Gallery<br></span>123 Patras Street<br>
			                  Patras, Achaia, 26223<br>
			                  Phone: <a href="tel:5555555555">(555) 555-8899</a></span>
			              </address>


			              <ul class="ct-socials list-unstyled list-inline">
			                  <li>
			                      <a href="#" target="_blank"><img alt="facebook" src="static/main/assets/footer/fbLogo.png" class="facebook"></a>
			                      </li>

			                      <li>
			                          <a href="#" target="_blank"><img alt="youtube" src="static/main/assets/footer/ytLogo.png" class="youtube"></a>
			                      </li>
			                      <li>
			                          <a href="#" target="_blank"><img alt="instagram" src="static/main/assets/footer/instaLogo.png" class="instagram"></a>
			                      </li>

			                  </ul>
											</div>

										</div>



			  <div class="ct-footer-post">

	        <div class="inner-right">
	            <p>
	               Copyright © 2019 for WebSite designed by Dafni-Spyridoula Ventza and Eirini Sotiropoulou on
								 <a href="https://github.com/dafni-ventza/lulukeia-gallery-web.git" target="_blank">GitHub</a> for the purposes of
								 <a href="https://eclass.upatras.gr/courses/EE767/" target="_blank">Web Programming Course</a>.
	            </p>
	        </div>
			    </div>

			</footer>
