<!-- header -->
<div class="header">

	<a style=" grid-area: logo;  margin: 0;" href="#home"><div class="logo" ></div></a>

	<!-- menu -->
	<div class="topnav dropdown " style="grid-area: menu;"  >
		<button  id="menu" class="btn btn-motive dropbtn"  >Menu</button>
		<div class="dropdown-content" >
			<ul >
				<li >
					<a class="active" href="/#">Home</a>
				</li>
				<li>
					<a href="/news">News</a>
				</li>
				<li>
					<a href="/contact">Contact</a>
				</li>
				<li>
					<a href="/art">Art</a>
				</li>
				<li>
					<a href="/learning">Learning</a>
				</li>
				<li>
					<a href="/digital-visit">Digital Visit</a>
				</li>
			 <li>
				 <a href="/our-friends">Our Friends</a>
			 </li>
			<li>
				<a href="/about">About</a>
			</li>
	</ul>
		</div>
	</div>


	<button id="log" class="btn btn-motive dropbtn" href="../login">Log in</button>

</div>
