<style>
	#menu{
  		grid-area: menu;
			@font-face {
				font-family: myFont;
			}
			font-size:3em;
  		background-color: rgba(255,0,0,0.1) ;
  		-webkit-transition: none;
  		height: 100%;
			padding: 30px;

  		}
		#log{
	  		grid-area: login;
	  		/*align-self: end;*/
	  		background-color:  rgba(255,0,0,0.1) ;
	  		-webkit-transition: none;
				font-size:3em;
	  		height: 100%;
	  		position: absolute;
	  		right: 0;
				text-align: center;
	  		padding: 5px;
		}
	</style>

<!-- header -->
<div class="header">
	<!-- menu -->
	<div class="topnav dropdown" style="grid-area: menu;">
		<button  id="menu" class="btn btn-motive dropbtn">Menu</button>
		<div class="dropdown-content" >
				<ul>
					<li>
						<a class="active" href="./">Home</a>
					</li>
					<li>
						<a href="/news">News</a>
					</li>
					<li>
						<a href="/contact">Contact</a>
					</li>
					<li>
						<a href="/art">Art</a>
					</li>
					<li>
						<a href="/learning">Learning</a>
					</li>
					<li>
						<a href="/digital-visit">Digital Visit</a>
					</li>
				 <li>
					 <a href="/our-friends">Our Friends</a>
				 </li>
				<li>
					<a href="/about">About</a>
				</li>
			</ul>
		</div>
	</div>

	<button id="log" class="btn btn-motive dropbtn"><a href="../login">Log in</a></button>

</div>
