<div class="grid-container">


			<!-- header -->
			<div class="header">

				<!-- menu -->
				<div class="topnav dropdown">
					<button class="btn btn-motive dropbtn">Menu</button>
					<div class="dropdown-content">
            {% if user.is_authenticated %}
              <a href="/account">{{user.username}}</a>
              <a href="/logout">Logout</a>
            {% else %}
							<a class="active" href="home.html">Home</a>
						  <a href="news.asp">News</a>
						  <a href="contact.asp">Contact</a>

						  <a href="default.asp">Art</a>
						  <a href="news.asp">Learning</a>
						  <a href="contact.asp">Digital Visit</a>
						  <a href="about.asp">Our Friends</a>
						  <a href="default.asp">About</a>
            {% endif %}

					</div>
			  </div>

				<h1 >Lulukeia Pinakothiki</h1>
				<button id="log" class="btn btn-motive dropbtn" href="login.html">Log in</button>

			</div>
