/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=65e0g1kdeQsj1Zlj7RK0HVP5YvckjUsJ4YX3gSGViBa2BWfSkR6rVGvVX+tGrtMqQPWe9klHkP7+N2sC8Ym55aO07R */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */
:root{
	--color_prim_0:#F18DBE; /*barbie pink*/
	--color_prim_1:#FD66B0; /*pink*/
	--color_prim_2:#F262A9; /**/
	--color_prim_3:#F8F3F5; /*white*/
	--color_prim_4:#CEA8BA; /*anoixto mov*/

	--color_sec_10:#CC0030; /*red*/
	--color_sec_11:#FC003B; /*bright red*/
	--color_sec_12:#F20038; /*rodakini fwteino*/
	--color_sec_13:#C40E38; /*fuksia*/
	--color_sec_14:#680018; /*bordaux*/

	--color_sec_20:#732569; /**/
	--color_sec_21:#DDA6D6; /**/
	--color_sec_22:#31052C; /*vathi mov<3*/
	--color_sec_23:#1C091A; /*black mov*/
	--color_sec_24:#2B0026; /**/

	--color_comp_0:#A1D350; /**/
	--color_comp_1:#EEFDD6; /**/
	--color_comp_2:#C2F373; /**/
	--color_comp_3:#394A1F; /**/
	--color_comp_4:#487500; /**/

}

.color-primary-0 { color: #F18DBE;}	/* Main Primary color */
.color-primary-1 { color: #FD66B0; }
.color-primary-2 { color: #F262A9; }
.color-primary-3 { color: #F8F3F5; }
.color-primary-4 { color: #CEA8BA; }

.color-secondary-1-0 { color: #CC0030; }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #FC003B }
.color-secondary-1-2 { color: #F20038 }
.color-secondary-1-3 { color: #C40E38 }
.color-secondary-1-4 { color: #680018 }

.color-secondary-2-0 { color: #732569 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #DDA6D6 }
.color-secondary-2-2 { color: #31052C }
.color-secondary-2-3 { color: #1C091A }
.color-secondary-2-4 { color: #2B0026 }

.color-complement-0 { color: #A1D350 }	/* Main Complement color */
.color-complement-1 { color: #EEFDD6 }
.color-complement-2 { color: #C2F373 }
.color-complement-3 { color: #394A1F }
.color-complement-4 { color: #487500 }



/* As RGBa codes */

.rgba-primary-0 { color: rgba(241,141,190,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(253,102,176,1) }
.rgba-primary-2 { color: rgba(242, 98,169,1) }
.rgba-primary-3 { color: rgba(248,243,245,1) }
.rgba-primary-4 { color: rgba(206,168,186,1) }

.rgba-secondary-1-0 { color: rgba(204,  0, 48,1) }	/* Main Secondary color (1) */
.rgba-secondary-1-1 { color: rgba(252,  0, 59,1) }
.rgba-secondary-1-2 { color: rgba(242,  0, 56,1) }
.rgba-secondary-1-3 { color: rgba(196, 14, 56,1) }
.rgba-secondary-1-4 { color: rgba(104,  0, 24,1) }

.rgba-secondary-2-0 { color: rgba(115, 37,105,1) }	/* Main Secondary color (2) */
.rgba-secondary-2-1 { color: rgba(221,166,214,1) }
.rgba-secondary-2-2 { color: rgba( 49,  5, 44,1) }
.rgba-secondary-2-3 { color: rgba( 28,  9, 26,1) }
.rgba-secondary-2-4 { color: rgba( 43,  0, 38,1) }

.rgba-complement-0 { color: rgba(161,211, 80,1) }	/* Main Complement color */
.rgba-complement-1 { color: rgba(238,253,214,1) }
.rgba-complement-2 { color: rgba(194,243,115,1) }
.rgba-complement-3 { color: rgba( 57, 74, 31,1) }
.rgba-complement-4 { color: rgba( 72,117,  0,1) }



/* Generated by Paletton.com © 2002-2014 */
/* http://paletton.com */
