.contact {
    font-size: 100%;
    position: relative;
    font-family: "Roboto Condensed";
    padding-left:15px;
}


form , .intro {
    /* margin-top: 2em; */
    margin-left:1em;
}

.button {
    background-color: var(--color_sec_22); /* anoixto mov */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    /* text-decoration: none; */
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
}

.contact input::placeholder {
  color: var(--color_sec_22);
  font-style: italic;
  font-family: "Roboto Condensed";
  margin-left:10px;
  width:245px;
}
.comment input[type=textarea]:focus{
  background-color: blue;
}


/*Make an effect of transition in the input area - not working successfully */
.contact input[type=text] {
  width: 100px;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}
.contact input[type=text]:focus {
  width: 250px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--color_sec_22);
}
.message{
    border: none;
    display: inline-block;
    flex-direction: row;
    margin: 0 0 3px 0;

}


.date {
    /* float: right; */
    margin-right: 60em;
}
.date img{
  align-self: center;
  width: 20%;
  max-width: 100%;
  display: block;
}
hr{
    color:#808080;
}
input[type="text"] {
    font-family: "Roboto Condensed";
}
