html, body {
  font-size:16px;
  width:100vw;
  height: 100vh;
  font-family: "Roboto Condensed";
  overflow: auto;
  color: var(--color_sec_22);
  /*-ms-overflow-style: scrollbar;*/
  -webkit-font-smoothing: antialiased;
  margin: 0 0 0 0;
}

.wrapper{
  padding-top: 25vh;
  padding-bottom: 5vh;
  background-color: var(----color_prim_4);
  padding-left: 5vh;
}

.content{
  overflow-y: scroll;
  height: 50%;
  display: grid;
  width: 100vw;
  height: 100vh;
  padding:0;
  overflow-x: hidden;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30% 30% 30% 50%;
  grid-template-areas:
  "mona walking walking"
  "mona starry starry"
  "flowers flowers dancers"
  "guernica guernica dancers" ;
}


.links{
  color: white;
  font-size: 6em;
}

.links:hover{
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  color: var(--color_sec_22);
  opacity: 1;
}
.content:hover{
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  color: var(--color_sec_22);
  opacity: 1;
}


#mona{
  grid-area: mona;
  position: relative;
  text-align: center;
  vertical-align: middle;
}
#mona img{
  width: 100%;
  height:100%;
  object-fit: cover;
  object-position: 0 15%;
}
#mona .links{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#starry{
  grid-area: starry;
  position: relative;
  text-align: center;
}
#starry img{
  width: 100%;
  height:100%;
  object-fit: cover;
  object-position: 0 100%;
}
#starry .links{
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

#guernica{
  grid-area: guernica;
  position: relative;
  text-align: center;
}
#guernica img{
  width: 100%;
  height:100%;
  object-fit: cover;
}
#guernica .links{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#flowers{
  grid-area: flowers;
  position: relative;
  text-align: center;
}
#flowers img{
  width: 100%;
  height:100%;
  object-fit: cover;
  object-position: 0 35%;

}

#flowers .links{
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

#walking{
  grid-area: walking;
  position: relative;
  text-align: center;
}
#walking img{
  width: 100%;
  height:100%;
  object-fit: cover;
  object-position: 0 35%;
}
#walking .links{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#dancers{
  grid-area: dancers;
  position: relative;
  text-align: center;
}
#dancers img{
  width: 100%;
  height:100%;
  object-fit: cover;
  object-position: 0 35%;
}

#dancers .links{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
