{% extends "main/home.html" %}
{% include "../css/about.css" %}

{% block content %}

  <h3>
    About
  </h3>
  <h1>
    Learn more about us
  </h1>

  <div class="grid">
    <article>

      <img src="static/main/assets/pierresvives_montpellier_b130912_i10.jpg" alt="museum" class="feature">

      <h2>
       Who are we really?
      </h2>
      <p>Lulukeia Gallery was found in 2019 in Patras by Eirini Sotiropoulou and Dafni-Spyridoula Ventza.</p>

      <h2> Our Values and Goals</h2>
      <p>Our values are honesty and professionalism to support new artists in their way in the small society of Patras.
        Not only that of course, we would like to expand on famous artists and arts by having temporary exhibitions
        open to the public! Bringing Van Gogh, Da Vinci and many other famous painters accessible to all the ages of Patras
        and by giving the access to prepare for a virtual visit and a great experience in advance.
      </p>

      <h2> Our History </h2>
      <p>We have been two passionate programmers of Electrical and Computer Engineering Department of the University of Patras.
        Software Engineering as well as Arts is the perfect combination to us! Check more on our Social Media...
      </p>

    </article>
  </div>
{% endblock %}
