{% extends "main/home.html" %}

{% block content %}
  <div class="grid">
    <h3>
      Art
    </h3>
    <h1>
      Our Exhibits!
    </h1>

    <div class="gallery-container" id="gallery-container">
    <div class="gallery-item">
      <img class="gallery-img" src="static/main/assets/flowers.jpg" alt="Descripcion 1">
    </div>
    <div class="gallery-item">
      <img class="gallery-img" src="static/main/assets/guernica.jpg" alt="Descripcion 2">
    </div>
    <div class="gallery-item">
      <img class="gallery-img" src="static/main/assets/walking.jpg" alt="Descripcion 3">
    </div>

    </div>
  </div>

{% endblock %}
