{% extends 'main/home.html' %}

{% block content %}

    <div class="row">

{% for paint in paintings %}
                <!-- <a href="{{cat.category_slug}}", style="color:#000">d
                    <div class="card hoverable">
                        <div class="card-content">
                            <div class="card-title">{{cat.music_category}}</div> -->

                            <h1>{{paint.title}}</h1>
                        <!-- </div>
                    </div>
                </a> -->
{% endfor %}

    </div>
{% endblock %}
