{% extends "main/home.html" %}

{% block content %}
  <div class="grid">
    <h3>
      Digital Visit
    </h3>
    <h1>
      Here are our floors and the exhibits spread out!
    </h1>
    <img src="static/main/assets/interiorMapFloors.png" alt="museumMap">
      <map name="galleryMap">
        <area shape="rect" coords="50,60,50,80" alt="First Floor" href="www.google.com"></area>
        <area shape="rect" coords="150,160,150,180" alt="First Floor" href="www.google.com"></area>
        <area shape="circle" coords="80,60,20" alt="First Floor" href="www.google.com"></area>
      </map>
  </div>
{% endblock %}
