{% extends "main/home.html" %}


{% block content %}
			<!-- path for assets: ../../static/main/assets/bla.img -->
			<!-- content -->
			<!-- content -->
			<!-- content -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
			<!-- JS loading... -->
			<script src="./../static/main/js/index.js"></script>
			<div id="greetings">
				<h1>Welcome to Lulukeia Gallery</h1>
			</div>



			<div class="content" >

				<div id="mona">
					<a href="/events"><img  src="../../static/main/assets/mona.jpg"></a>
					<a href="/events"><div class="links">Events</div></a>

				</div>

				<div id="starry">
					<a href="/digital-visit"><img  src="../../static/main/assets/starry.jpg" ></a>
					<a href="/digital-visit"><div class="links">My digital visit</div></a>
				</div>

				<div id="guernica">
					<a href="/map"><img  src="../../static/main/assets/guernica.jpg" ></a>
					<a href="/map"><div class="links">Map</div></a>
				</div>

				<div id="dancers">
					<a href="/learning"><img  src="../../static/main/assets/dancers.jpg"></a>
					<a href="/learning"><div class="links">Learning</div></a>
				</div>

				<div id="walking">
					<a href="/art"><img  src="../../static/main/assets/oil-painting-underwater-paintings-isabel-emrich-6.jpg" ></a>
					<a href="/art"><div class="links">Art</div></a>
				</div>
				<div id="flowers">
					<a href="/contact"><img  src="../../static/main/assets/flowers.jpg" ></a>
					<a href="/contact"><div class="links">Contact</div></a>
				</div>
			</div>

<!-- <script src="../js/index.js"></script> -->
{% endblock %}
