{% extends "main/home.html" %}

{% block content %}
			<!-- path for assets: ../../static/main/assets/bla.img -->
			<!-- content -->
			<h1> This is our Gallery! </h1>
			<!-- content -->
			<div class="content">

				<div id="mona">
					<img  src="../../static/main/assets/mona.jpg"></a>
					<a><div class="links"><a href="/events">Events</div></a>
				</div>

				<div id="starry">
					<img  src="../../static/main/assets/starry.jpg" >
					<div class="links"><a href="/my-digital-visit">My digital visit</a></div>
				</div>

				<div id="guernica">
					<img  src="../../static/main/assets/guernica.jpg" ></a>
					<div class="links"><a href="/map">Map</div>
				</div>

				<div id="dancers">
					<img  src="../../static/main/assets/dancers.jpg">
					<div class="links"><a href="/learning">Learning</a></div>
				</div>

				<div id="walking">
					<img  src="../../static/main/assets/oil-painting-underwater-paintings-isabel-emrich-6.jpg" >
					<div class="links"><a href="/art">Art</a></div>
				</div>

				<div id="flowers">
					<img  src="../../static/main/assets/flowers.jpg" >
					<div class="links"><a href="/contact">Contact</a></div>
				</div>
			</div>

<!-- <script src="../js/index.js"></script> -->
{% endblock %}
