{% extends "main/home.html" %}

{% block content %}
  <div class="grid">
    <h3>
      Learning
    </h3>
    <h1>
      For our younger friends to know...
    </h1>
    <article>


      <h3>
        We are sorry...Under Construction!
      </h3>
      <img src="./../static/main/assets/doggo.webp" alt="Doggo Under Construction"
      style="width:50%"/>
      <br>
    </article>
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar"
      aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
        We are coming...
      </div>
</div>
  </div>
{% endblock %}
