<!DOCTYPE html><html>
<head>
  <title>Javascript desde cero - Proyecto Final
  </title>
  <meta charset="utf-8"><meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1"><link href="css/styles.css" rel="stylesheet">
</head>
<body>
  <h1>Lightbox gallery</h1>
  <div class="gallery-container" id="gallery-container">
    <div class="gallery-item">
      <img class="gallery-img" src="img/gallery-1-thumb.jpg" alt="Descripcion de la imagen 1">
    </div>
    <div class="gallery-item">
      <img class="gallery-img" src="img/gallery-2-thumb.jpg" alt="Descripcion de la imagen 2">
    </div>
    <div class="gallery-item">
      <img class="gallery-img" src="img/gallery-3-thumb.jpg" alt="Descripcion de la imagen 3">
    </div>

</body>
