{% extends "main/home.html" %}

{% block content %}
  <div class="grid">
    <h3>
      Our Friends
    </h3>
    <h1>
      Sponsors and more...
    </h1>
    <article>
      <h2>
       Did you think that we work alone? Of course not!
      </h2>
      <p>Lulukeia Gallery is always supportive to new artists and companies interested in the field of
      Arts</p>

      <h2> Our Participation in <abbr title="Science,Technology,and the ARTS Conference">STARTS</abbr></h2>
      <p>Did you even know that there is a conference for Science + Technology +
        the ARTS supported by the European Commission?
      </p>
      <p>
        Well, that one is the #STARTS Conference, where new artists are presenting their special work;
        a work on art and miscellaneous engineering techniques and technologies useful to our everyday life but not only...
        In case you are interested, you can check our Sponsor <a href="https://futureeverything.org/news/art-the-iot/
        ?fbclid=IwAR03O5yf9fovAZztz0tdlgf0AMXb8lQHh2isaDm4RxvgO0TPLeea46sWniE">FutureEverything</a> proposing our work and supporting us every time to take a step and think outside of the box.

      <h2> More on the #STARTS Project </h2>
      <p><a href="https://ars.electronica.art/error/en/startsday/" target="_blank">STARTS Day</a>
        is one of the most different, valuable, technological and creative in the field of Computer Human Interaction,
        even if you may not realise that today! We were there, discussing about the newer technologies of 2019
        and the affect to Lulukeia Gallery on September 7, 2018.
      </p>
      <h5>
        We do believe in Technology, We do believe in Arts!
        </h5>
    </article>
  </div>
  
{% endblock %}
